Repository archqua/tosk-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-base, test-ext-ping

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check      # Checks poetry config validity
      - id: poetry-lock       # Ensures poetry.lock is updated
  - repo: local
    hooks:
      - id: test-base
        name: Base tests
        entry: poetry run pytest tosk_bot/base
        language: system
        pass_filenames: false
        always_run: false
        files: ^(tosk_bot/base/service/.*\.py|tosk_bot/base/tests/.*\.py)$
      - id: test-ext-ping
        name: Ping ext test
        entry: poetry run pytest tosk_bot/ext/ping/tests
        language: system
        pass_filenames: false
        always_run: false
        files: ^(tosk_bot/ext/ping/service/.*\.py|tosk_bot/ext/ping/tests/.*\.py)$
  - repo: https://github.com/psf/black
    rev: 25.9.0  # Use the latest stable Black version
    hooks:
      - id: black
        language_version: python3.14
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort
        name: isort (python)

Trying to configure podman build+push script
  compose.yaml
  pyproject.toml
  release.sh
  tosk_bot/__init__.py
  tosk_bot/base/service/main.py
  tosk_bot/base/service/tgio.py
  tosk_bot/base/tests/test_main.py
  tosk_bot/ext/__init__.py
  tosk_bot/ext/ping/__init__.py
  tosk_bot/ext/ping/service/main.py
  tosk_bot/ext/ping/tests/test_main.py
  tosk_bot/tests/fail.py
  tosk_bot/tests/test_integrity.py
Due: test-base, test-ext-ping

Fixed early username assertion in release.sh
  release.sh
Due: none

Passing image labels through env vars
  compose.yaml
  release.sh
Due: none

Passing image labels through env vars
  release.sh
Due: none

Figuring out compose env var passing and rabbimq volume
  compose.yaml
  release.sh
Due: none

Fixed unhandled timeout error on wait_for(queue.get()) in tgio Input worker
  compose.yaml
  tosk_bot/base/service/tgio.py
Due: test-base

Require bot api token to be non-zero length
  compose.yaml
  tosk_bot/base/service/config.py
Due: test-base

Require bot api token to be non-zero length
  compose.yaml
Due: none

Handling httpx.ReadTimeout on api getUpdates
  tosk_bot/base/service/tgio.py
Due: test-base

Using bot response RPC-like api method call payload as dict (kwargs)
  tosk_bot/base/service/tgio.py
  tosk_bot/base/tests/test_tgio.py
Due: test-base

Adding AMPQConnectionError cancellation handling case to reduce noise on shutdown
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
  tosk_bot/ext/ping/tests/test_main.py
Due: test-base, test-ext-ping

Handling cancellation with silence when launching services as modules
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Handling SIGINT and SIGTERM
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Correcting signal handling
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Capturing cancelled error in __name__=='__main__' blocks for canceled run tasks
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Making ping disconnect from RMQ on cancellation
  tosk_bot/ext/ping/service/main.py
Due: test-ext-ping

Added queue consumption start message to ping extension
  tosk_bot/ext/ping/service/main.py
Due: test-ext-ping

Fixing shutdown hangs when channel is trying to reconnect (bad shutdown order)
  compose.override.yaml
  compose.yaml
  containers.conf
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
  tosk_bot/ext/ping/tests/test_main.py
Due: test-base, test-ext-ping

Trying to simplify start/stop logic and make shutdown more robust: a. using aiomisc, b. using aio-pika example from github
  poetry.lock
  pyproject.toml
  tosk_bot/base/service/main.py
  tosk_bot/base/tests/test_main.py
  tosk_bot/ext/ping/service/main.py
  tosk_bot/ext/ping/tests/test_main.py
Due: test-base, test-ext-ping

Adding missed await in services start and stop methods
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Split Service classes into Service + Proxy for method access; tests commented out - they need major refactor
  tosk_bot/base/service/main.py
  tosk_bot/base/tests/test_main.py
  tosk_bot/ext/ping/service/main.py
  tosk_bot/ext/ping/tests/test_main.py
Due: test-base, test-ext-ping

Split Service classes into Service + Proxy for method access; tests commented out - they need major refactor
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Split Service classes into Service + Proxy for method access; tests commented out - they need major refactor
  tosk_bot/base/service/main.py
Due: test-base

Split Service classes into Service + Proxy for method access; tests commented out - they need major refactor
  tosk_bot/base/service/main.py
  tosk_bot/base/service/tgio.py
Due: test-base

Split Service classes into Service + Proxy for method access; tests commented out - they need major refactor
  release.sh
Due: none

Updated README
  README.md
Due: none

More details in README
  README.md
Due: none

Simplified aiomisc.Service descendants favorint proxies completeness
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Removed manual event loop management
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Silencing httpx logging to avoid showing bot token in URLs in logs
  tosk_bot/base/service/main.py
  tosk_bot/base/service/tgio.py
Due: test-base

Logging unexpected errors on getUpdates call
  tosk_bot/base/service/tgio.py
Due: test-base

Processing httpx.ConnectError in telegram api IO handling
  tosk_bot/base/service/tgio.py
Due: test-base

Migrated from pure-teleapi to dirty-teleapi
  README.md
  poetry.lock
  pyproject.toml
  tosk_bot/base/service/tgio.py
Due: test-base

Using payload model in ping instead of plain dict
  tosk_bot/base/service/main.py
  tosk_bot/ext/ping/service/main.py
Due: test-base, test-ext-ping

Propagating dirty-teleapi update
  poetry.lock
Due: none
